<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
</head>
<body>
<div id="app">
    <div v-if="Math.random()>0.4">
       0.4
    </div>
    <div v-else-if="Math.random()>0.5">
       0.5
    </div>
    <div v-else>看不到</div>


    <!--template渲染一整组-->
    <template v-if="ok">
        <h1>dujishi</h1>
    </template>

    <!--v-else 元素必须紧跟在 v-if 或者 v-else-if 元素的后面,-->
    <!--否则它将不会被识别。-->

    <div v-if="type == 'A'">a</div>
    <div v-else-if="type == 'B'">b</div>
    <div v-else-if="type == 'C'">c</div>
    <div v-else>d</div>

    <h1 v-show="ok">Hello!</h1>
    <!--v-show 不支持 <template> 语法，也不支持 v-else。-->

</div>
</body>
<script>
    //数据绑定
    var app = new Vue({
        el:'#app',
        data:{
            ok:true,
            type:'B'
        },

    });

</script>
</html>